@mixin breakpoint-min($min-desktop){
    @media (min-width: $min-desktop){
        @content;
    }
}

@mixin breakpoint-min-max($min-tablet, $max-tablet){
    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
        @content;
    }
}

@mixin breakpoint-max($max-mobile){
    @media (max-width: $max-mobile){
        @content;
    }
}