// Screen sizes
$min-desktop: 64.0625em; // 1025px
$max-tablet: 64em; // 1024px
$min-tablet: 39.875em; // 638px
$max-mobile: 39.875em; // 637px

// Colors
$dark-blue: rgba(11, 13, 23, 1);
$ice: rgba(208, 214, 249, 1);
$white: rgba(255, 255, 255, 1);

// Typography
$heading-big: 'Bellefair Regular', serif;
$heading-big-simple: 'Bellefair', serif;
$heading-sm: 'Barlow Condensed', sans-serif;
$heading-sm-simple: 'Barlow Regular', sans-serif;