@use './variables' as *;

@mixin breakpoint-min($min-desktop){
    @media (min-width: $min-desktop){
        @content;
    }
}

@mixin breakpoint-min-max($min-tablet, $max-tablet){
    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
        @content;
    }
}

@mixin breakpoint-max($max-mobile){
    @media (max-width: $max-mobile){
        @content;
    }
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin page-background($page-name) {
    background-color: $dark-blue;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    image-rendering: auto;

    @include breakpoint-max($max-mobile) {
        background-image: url('../assets/#{$page-name}/background-#{$page-name}-mobile.jpg');
    }
    
    @include breakpoint-min-max($min-tablet, $max-tablet) {
        background-image: url('../assets/#{$page-name}/background-#{$page-name}-tablet.jpg');
    }
    
    @include breakpoint-min($min-desktop) {
        background-image: url('../assets/#{$page-name}/background-#{$page-name}-desktop.jpg');
    }
}