@use './variables' as *;
@use './mixins' as *;
@use './reset' as *;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

html, body, #root {
    height: 100%;
    margin: 0;
}

// Flexbox
.flex {
    display: flex;

    &Row {
        flex-direction: row;
    }

    &JustifyContentSpaceBetween {
        justify-content: space-between;
    }

    &JustifyContentCenter {
        justify-content: center;
    }

    &AlignItemsCenter {
        align-items: center;
    }
}

// Hide for mobile
.hideForMobile {
    @include breakpoint-max($max-mobile){
        display: none;
    }
}

// Hide for tablet
.hideForTablet {
    @include breakpoint-min-max($min-tablet, $max-tablet){
        display: none;
    }
}

// Hide for desktop
.hideForDesktop {
    @include breakpoint-min($min-desktop){
        display: none;
    }
}