.destinationMainSection {
    height: 100%;
    @include flex-column;
    gap: 1.5rem;

    @include breakpoint-max($max-mobile) {
        padding: 1.5rem;
    }

    @include breakpoint-min-max($min-tablet, $max-tablet) {
        padding: 2.5rem;
    }
    
    @include breakpoint-min($min-desktop) {
        padding: 3rem;
    }
}
