.Header {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint-min-max($min-tablet, $max-tablet) {
        padding: 0 0 0 2.5rem;
    }
}