.cardContainer {
    .divider {
        height: 1px;
        width: 100%;
        background-color: $white;
        opacity: .25;
        margin: 24px 0;
    }

    .planetInfo {
        justify-content: space-between;
    }

    @include breakpoint-max($max-mobile) {
        flex: 1;
        @include flex-column;
        align-items: center;
        text-align: center;
        gap: 2rem;

        .planetInfo {
            @include flex-column;
            justify-content: space-between;
            gap: 24px;

            .planetMainInfo {
                justify-content: center;
            }
        }

        .detailsContainer {
            @include flex-column;
            gap: 24px;
            justify-content: space-around;
        }
    }


    @include breakpoint-min-max($min-tablet, $max-tablet) {
        flex: 1;
        @include flex-column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        gap: 8px;
        padding: 0 5rem;

        .planetInfo {
            @include flex-column;
            justify-content: space-between;
            gap: 24px;
        }

        .detailsContainer {
            display: flex;
            gap: 24px;
            justify-content: space-around;
        }

        .divider {
            margin: 24px 0;
        }
    }
    
    @include breakpoint-min($min-desktop) {
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 2rem;

        .planetImg {
            padding: 0 47px;
            display: flex;
            justify-content: center;
        }

        .planetInfo {
            @include flex-column;
            justify-content: center;
            height: 100%;
            gap: 40px;
            padding: 0 47px;
        }

        .divider {
            height: 2px;
            width: 100%;
            background-color: $white;
            opacity: .25;
            
        }

        .detailsContainer {
            display: flex;
            gap: 24px;
            justify-content: space-between;

            .detailedItem {
                @include flex-column;
                width: 100%;
                gap: 12px;
            }
        }
    }

    .planetInfo {
        .planetName {
            color: $white;
            font-family: $heading-big-simple;
            text-transform: uppercase;
            font-weight: 400;
        }

        .planetDescription {
            color: $ice;
            font-family: $heading-sm-simple;
        }

        .detailsContainer {
            .detailedItem {
                .detailsTitle {
                    text-transform: uppercase;
                    color: $ice;
                    font-family: $heading-sm-simple;
                    font-weight: 400;
                }

                .details {
                    text-transform: uppercase;
                    color: $white;
                    font-family: $heading-big-simple;
                }
            }
        }

        @include breakpoint-max($max-mobile) {
            .planetName {
                font-size: 3.5rem;
                line-height: auto;
                letter-spacing: 0;
            }

            .planetDescription {
                font-size: 0.938rem;
                line-height: 180%;
                letter-spacing: 0px;
            }

            .detailsTitle {
                font-size: 0.875rem;
                line-height: auto;
                letter-spacing: 0.125rem;
            }

            .details {
                font-size: 1.75rem;
                line-height: auto;
                letter-spacing: 0;
            }
        }

        @include breakpoint-min-max($min-tablet, $max-tablet) {
            .planetName {
                font-size: 5rem;
                line-height: auto;
                letter-spacing: 0;
            }

            .planetDescription {
                font-size: 1rem;
                line-height: 180%;
                letter-spacing: 0px;
            }

            .detailsTitle {
                font-size: 0.875rem;
                line-height: auto;
                letter-spacing: 0.125rem;
            }

            .details {
                font-size: 1.75rem;
                line-height: auto;
                letter-spacing: 0;
            }
        }

        @include breakpoint-min($min-desktop) {
            .planetName {
                font-size: 6rem;
                line-height: auto;
                letter-spacing: 0;
            }

            .planetDescription {
                font-size: 1.125rem;
                line-height: 180%;
                letter-spacing: 0px;
                min-height: 170px;
                display: flex;
                align-items: center;
            }

            .detailsTitle {
                font-size: 0.875rem;
                line-height: auto;
                letter-spacing: 0.125rem;
            }

            .details {
                font-size: 1.75rem;
                line-height: auto;
                letter-spacing: 0;
            }
        }
    }
}