.mainSection {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;

  .textDiv {
    display: flex;
    flex-direction: column;

    .callout {
      text-transform: uppercase;
      color: $ice;
      font-family: $heading-sm;
      font-weight: 400;
      line-height: auto;
      letter-spacing: 0;
    }

    .title {
      text-transform: uppercase;
      font-family: $heading-big-simple;
      color: $white;
      font-weight: 400;
      line-height: auto;
      letter-spacing: 0;
    }

    .text {
      font-family: 'Barlow', sans-serif;
      color: $ice;
      letter-spacing: 0;
    }
  }

  .buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;

    .exploreButton {
      font-family: $heading-big-simple;
      text-transform: uppercase;
      border-radius: 999px;
      background-color: $white;
      color: $dark-blue;
      transition: box-shadow 0.3s ease-in-out;
      text-align: center;
      align-content: center;

      &:hover {
        box-shadow: 0 0 0 50px rgba(255, 255, 255, 0.1);
      }
    }
  }

  @include breakpoint-max($max-mobile) {
    justify-content: space-between;

    .textDiv {
      gap: 1rem;
      padding: 1.5rem;

      .callout {
        font-size: 1rem;
        letter-spacing: 15%;
      }

      .title {
        font-size: 5rem;
      }

      .text {
        font-size: 0.938rem;
        line-height: 180%;
      }
    }

    .buttonDiv {
      flex: 1;

      .exploreButton {
        font-size: 1.125rem;
        width: 144px;
        height: 144px;
      }
    }
  }

  @include breakpoint-min-max($min-tablet, $max-tablet) {
    justify-content: space-around;
    padding: 2.5rem 4rem;

    .textDiv {
      gap: 1.5rem;

      .callout {
        font-size: 1.25rem;
        letter-spacing: 0.211rem;
      }

      .title {
        font-size: 9.375rem;
        line-height: 150px;
      }

      .text {
        font-size: 1rem;
        line-height: 1.75rem;
      }
    }

    .buttonDiv {
      .exploreButton {
        font-size: 2rem;
        letter-spacing: 2px;
        width: 242px;
        height: 242px;
      }
    }
  }

  @include breakpoint-min($min-desktop) {
    text-align: start;
    flex-direction: row;
    padding: 0 0 131px 0;
    align-items: end;
    justify-content: space-around;

    .textDiv {
      width: 450px;
      gap: 1.5rem;

      .callout {
        font-size: 1.75rem;
        letter-spacing: 0.295rem;
      }

      .title {
        font-size: 9.375rem;
      }

      .text {
        font-size: 1.125rem;
        line-height: 2rem;
      }
    }

    .buttonDiv {
      .exploreButton {
        font-size: 2rem;
        letter-spacing: 0.125rem;
        width: 274px;
        height: 274px;
      }
    }
  }
}
